@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.APP {
  text-align: center;
}

/* .logo {
  height: 100px;
  padding: 15px;
  background-image: url(./logo_sjsu.png);
  background-size: 80px;
  background-repeat: no-repeat;
  background-color: darkblue;
} */

.header {
  /* background-image: url(./logo_sjsu.png);
  background-size: 80px;
  background-repeat: no-repeat; */
  background: rgb(0, 34, 184);
  height: 150px;
  font-family: 'Fjalla One', sans-serif;
}

.drawer img {
  padding: 15px;
  height: 300px;
  width: 220px;
}
