.toolbarNavigation {
  height: 100%;
  color: white;
  align-items: center;
}

.toolbarLeftHalf {
  width: 60%;
  height: 110px;
  float: left;
  display: flex;
  flex-direction: row;
}

.toolbarLogo {
  height: 100%;
  float: left;
  margin-right: 3%;
}

.toolbarLogo img {
  display: inline-block;
  max-height: 100%;
  margin: auto;
}

.projectTitle {
  float: right;
  font-size: 20px;
}

.projectTitle img {
  width: auto;
  display: inline-block;
  max-height: 100%;
}

.projectTitle h1 {
  color: white;
  margin-top: 2%;
}
.projectTitle h2 {
  color: white;
}

.toolbarRightHalf {
  width: 40%;
  float: right;
  height: 110px;
}

@media screen and (max-width: 750px) {
  .toolbarLeftHalf { 
   float: none;
   margin-right:0;
   width: 100%;
   height: 40%;
  }
 .toolbarRightHalf { 
  float: none;
  margin-top:1%;
  width: 100%;
  height: 60%;
  }
  .toolbarLogo{
    width: 20%;
  }
  .projectTitle{
    font-size: 2vh;
    padding: 2%;
  }
  .toolbarLogo{
    height: 120%;
  }
}